{{#if success_msg}}
<div class="alert alert-success alert-dismissible w-50 p-1 mx-auto">
    {{success_msg}}
    <button type="button" class="close p-1" data-dismiss="alert">&times;</button>
</div>
{{/if}}


{{#if error_msg}}
<div class="alert alert-danger w-50 mx-auto">{{error_msg}}</div>
{{/if}}
