<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">
        Jot down Ideas for Your next Year Videos
    </p>
    <a href="/ideas/add"><button class="btn btn-dark btn-lg">Add Your Idea.</button></a>
</div>