<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">
        Put down Goals for Your next Year Month or Year.
    </p>
    <a href="/goals/add"><button class="btn btn-dark btn-lg">Add Your Goal.</button></a>
</div>