<div class="w-50 container">
    <div class="card card-body">
        <h3>Edit your Goal</h3>
        <form action="/goalsList" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input value="{{goal.title}}" type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea class="form-control" name="details">{{goal.details}}</textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Submit Goal</button>
        </form>
    </div>
</div>

{{!-- use VS-studio-code-IDE. (ALT+SHIFT+F) for indentation and formating like a pro-coder. --}}
