{{#each goals}}
    <div class="card card-body mx-auto w-50">
        <h4>{{title}}</h4>
        <p>{{details}} 
             <a class="btn btn-success float-right"
                href="/goals/edit/{{id}}">Edit me</a>
             
        </p>
        
    </div>
{{else}}
    <p>Please add at least one goal.</p>
{{/each}}